<div class="container">
    <h1><%= title %></h1>
</div>
<img class="proPic" src="./content/images/Cymantha Diesel.png" alt="Cymantha Diesel">
<div>
    <p class="inline">About me content</p>
</div>
<div class="box">
    <p>To see a recent version of my resume, click the button below.</p>
    <button><a href="resume.pdf" id="button">Resume</a></button>
</div>
<br>
<br>