<div class="container">
    <h1><%= title %></h1>
</div>
<img src="./content/images/Cymantha Diesel.png" alt="Cymantha Diesel">
<div>
    <p>About me content</p>
</div>
<div>
    <p>NEED TO FIGURE OUT FOR TO GET THE RESUME HERE</p>
</div>